---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

{% if page.categories contains "adult" %}
<div id="adult-warning">
  <div>
    <h2>Warning</h2>
    <p>This page may contain <strong>adult content</strong>.
    Please certify that you are 18 years of age or older,
    are not offended by sexually explicit description. And you
    agree that you will not permit any person(s) under 18 years 
    of age to have access to any of the materials contained within 
    this page.</p>

    <button class="enter">Yes, let me enter</button>
    <button class="leave">Leave</button>
  </div>
</div>
{% endif %}
